client/__pycache__/*
client/.ropeproject/*
client/objects.pyc
client/__init__.pyc
client/commands/*.pyc

server/__pycache__/*
server/.ropeproject/*
server/received/*
server/objects.pyc

test/__pycache__/*
test/*.pyc

.ropeproject/*

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

